<!doctype html>
<html>
<!-- Vue JS -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- Chart JS -->
<script src="static/js/Chart.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
<link rel="stylesheet" href="static/css/main.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<body>
    <div id=logjam-header class="container">
        <h1>Welcome to Logjam</h1>

        <div>
        <p>Enter log text to analyze:</p>
        <textarea name="logContents" cols="40" rows="5"></textarea>
        </div>

        <div id="options" class="input-group">
        <select id="platform">
          <option>All Platforms</option>
          <option>Platform A</option>
          <option>Platform B</option>
          <option>Platform C</option>
        </select>
       <select id="Encoding">
          <option>All Encodings</option>
          <option>utf-8</option>
          <option>ascii</option>
        </select>
        <select id="StorageGrid Version">
          <option>All Versions</option>
          <option>1.0</option>
          <option>1.1</option>
        </select>
        <input id="submitBtn" class="btn btn-lg btn-primary" type="submit" value="Is this normal?">
        </div>
    </div>

    <div id="canvas-holder" class="container" style="width:40%">
        <label for="chart-area">Text occurrences across all log files:</label>
        <canvas id="chart-area"></canvas>
    </div>

    <script>
        var config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        77, 33
                    ],
                    backgroundColor: [
                        '#36a2eb',
                        '#ff6384',
                        '#cc65fe',
                        '#ffce56',
                        '#30c589',
                    ],
                    label: 'Dataset 1'
                }],
                labels: [
                    'Occurs',
                    'Does not occur',
                ]
            },
            options: {
                responsive: true
            }
        };
        window.onload = function() {
            var ctx = document.getElementById('chart-area').getContext('2d');
            window.myPie = new Chart(ctx, config);
        };
    </script>
</body>
</html>
