# Output files created by Logjam in the project's root folder
**/duplicates.db
**/logjam_categories
**/scratch_space
data

# Python configuration & misc files
venv
__pycache__
.coverage
tags

# Archives used for testing
**.zip
**.7z
**.tgz
**.gz

# Frontend external files
bootstrap.min.css
bootstrap.min.js
vue.min.js
vue-resource.min.js
Chart.min.js
jquery-*.slim.min.js

