# Output files created by the old Logjam implementation
/duplicates.db
/logjam_categories/
/logjam/duplicates.db
/logjam/logjam_categories/

# Python configuration & misc files
venv
/logjam/__pycache__
