#options > * {
    margin-bottom: 2px;
    margin-top: 2px;
}


#options {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 5px;
}


textarea {
    height: 100%;
    width: 100%;
    resize: none;
}

canvas {
    display: inline-block;
}

.alert {
    margin-bottom: 4px;
    margin-top: 4px;
}
